.rustCratesSection {
  padding: 20px;
  background-color: #f8f8f8; /* Light background for the section */
}

.rustCratesSection h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cratesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Spacing between cards */
}

.crateCard {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 200px; /* Fixed width for consistency */
  text-align: center; /* Center the text within each card */
}

.crateInfo {
  align-items: center; /* Align items vertically in the center */
}

.downloads {
  margin-right: 5px; /* Adjust this value to bring icons closer or further apart */
}

.downloads, .homepage {
  margin-right: 5px; 
}

.crateCard svg {
  margin-right: 5px; /* Space between icon and text */
  width: 16px; /* Icon size */
  height: auto;
}
