.articlesSection {
  background-color: #f8f8f8; /* Off-white color */
  padding: 20px; /* Add padding if needed */
}
.articlesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.heading {
  text-align: center;
}

.article {
  background-color: #f0f0f0; /* Light grey background, adjust as needed */
  color: #333; /* Adjust text color for contrast */
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px; /* Optional: adds rounded corners */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds subtle shadow */
  display: block;
  width: 300px;
  border: 1px solid #ccc;
  text-decoration: none;
}

article h3, .article p {
  color: #333; /* Dark grey for text, adjust as needed */
}

.article a {
  color: #007bff; /* Example link color, adjust as needed */
  text-decoration: none; /* Removes underline from links */
}

.article a:hover {
  color: #0056b3; /* Darker blue on hover, adjust as needed */
}
