.projectsSection {
  padding: 20px;
  background-color: #f8f8f8; /* Light background color */
}

.projectsSection h2 {
  text-align: center;
  margin-bottom: 20px;
}

.projectsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

.projectCard {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 15%;
  height: 100%;
}

.projectCard img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure images cover the card area */
}

.projectCard h3 {
  padding: 0 15px;
}

.projectCard p {
  padding: 0 15px 15px 15px;
}

.projectCard a {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.projectCard a:hover {
  background-color: #0056b3;
}
