.skillCard {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers children horizontally in a flex column */
  justify-content: center; /* Centers children vertically */
  width: 200px; /* Fixed width, adjust as needed */
  height: 200px; /* Fixed height, adjust as needed */
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 6px 3px rgba(8, 19, 250, 0.3);
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #3c4072; /* Off-white background */
  color: #fff; /* White text */
}

.skillCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Start from the left */
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); /* Light white shine */
  transform: skewX(-20deg); /* Tilt the shine for a better effect */
  transition: left 0.5s;
}

@keyframes shine {
  to {
    left: 100%;
  }
}

.skillCard:hover::before {
  animation: shine 0.75s;
}
.skillCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 6px 4px rgba(8, 19, 250, 0.2); 
}
.skillCard img {
  max-width: 100%; /* Ensure image doesn't exceed the card width */
  max-height: 60%; /* Adjust based on your design, controls image height */
  object-fit: contain;
}

.skillTitle {
  margin-top: 10px; /* Space between image and title */
  text-align: center;
  font-size: 18px; /* Adjust font size as needed */
  font-weight: bold; /* Optional: if you want the title to stand out */
}
/* For tablets and below */
@media (max-width: 768px) {
  .skill-card {
    width: 45%; /* Adjust based on your layout preference */
    height: auto; /* Makes height responsive */
  }
}

@media (max-width: 480px) {
  .skill-card {
    width: 90%; /* Takes more space on smaller screens */
  }
}
