.skillsSection {
  perspective: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px; /* Adjusted for visual spacing */
  padding: 20px;
  background-color: #d3d3d3; /* Set the background color to white */
}

